
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 177, 205);
    height: 100vh;
    text-align: center;
    }
 